.privacy-policy {
  &__container {
    position: relative;
    background: var(--background-web-stacking);
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to top,
        #1a1b1e 5.57%,
        #231718 24.1%,
        #34263b 36.82%,
        #01091f 54.8%,
        #3d344a 71.28%,
        rgba(0, 0, 0, 0.34) 87.2%
      );
      z-index: 0;
    }
  }

  &__wrapper {
    padding-top: 72px;
    padding-bottom: 90px;

    @media all and (min-width: 900px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }

  &__background-01 {
    height: 200px;
    background: url('../../assets/our-team/background-01.png') no-repeat;
    background-size: cover;
    @media all and (min-width: 900px) {
      height: 478px;
    }
  }

  &__icon {
    &-avatar {
      img {
        width: 116px;
        height: 116px;

        @media all and (min-width: 600px) {
          width: 150px;
          height: 150px;
        }

        @media all and (min-width: 900px) {
          width: 208px;
          height: 208px;
        }
      }
    }
    &-artist {
      img {
        width: 200px;
        height: 200px;
        @media all and (min-width: 600px) {
          width: 320px;
          height: 320px;
        }
      }
    }
    &-space {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
